/*------------componentes en crudo-------*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

p{
 font-size: 1rem;   
}

body{
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------menu-------*/

.nav{
    background-color: azure;
    height: 3rem;
    text-align: center;
    width: 100vw;
    text-align: center;
    position: flex;
    
}

.nav_menu{
    color: rgb(90, 116, 116);
    height: 2rem;
    text-decoration: underline 2px rgb(90, 116, 116);
    text-align: center;
}
 
    

.nav__menu__item{
    margin: 1rem;
    display: inline-block;
    padding: .1rem .5rem;
    justify-content:space-evenly; 
    font-size: x-small;
   
}


/*------------bloque1-------*/

.Gran1{
    background-color: rgb(222, 248, 244);
    position: absolute;
    top: 3rem;
    height: 20rem;
    width: 100vw;
}

.Gran1 h1{
    font-size: 5rem;
    color: rgb(24, 41, 56);
}
.Gran1 p{
    margin: 1rem  3rem;
    font-size: 0.5rem;
    font-weight: 800;
    color: rgb(47, 75, 99);
}

@media screen and ( min-width: 25rem ) {   
    .Gran1{
        background-color: rgb(138, 209, 198);
        top: 3rem;
        height: 20rem;
        width: 100vw;
        display: inline-block;
        align-items: center;
    }
    
    .Gran1 h1{
        margin-top: 7rem;
        z-index: 3;
        width: 10rem;
         font-size: 3rem;
        color: rgb(24, 41, 56);

    }

    .Gran1 p{
        margin-top: -7rem;
        margin-left: 10rem;
        font-size: 0.5rem;
        font-weight: 800;
        color: rgb(47, 75, 99);
       
    }
    
   
}

/*------------bloque2-------*/

.Gran2{
    background-color: rgb(199, 245, 238);
    position: absolute;
    top: 23rem;
    height: 25rem;
    width: 100vw;
}

.Gran2 h1{
    font-size: 4rem;
    width: 100vw;
    font-weight: 100 ;
    margin-top:  3rem;
    margin-right: 5rem;
    color: rgb(24, 41, 56);
}
.Gran2 p{
    margin: 1rem  3rem;
    font-size: 0.5rem;
    font-weight: 800;
    color: rgb(47, 75, 99);
}

@media screen and ( min-width: 25rem ) {  
    .Gran2{
        background-color: rgb(199, 245, 238);
        position: absolute;
        top: 23rem;
        height: 15rem;
        width: 100vw;
        display: inline-block;
        align-items: center;
    }
    
    .Gran2 h1{
        z-index: 3;
        width: 5rem;
        font-size: 2rem;
        font-weight: 100 ;
        margin-right: 5rem;
        color: rgb(24, 41, 56);
    }

    .Gran2 p{
        margin-top: -7rem;
        margin-left: 10rem;
        font-size: 0.5rem;
        font-weight: 800;
        color: rgb(47, 75, 99);
       
    } 
}

/*------------bloque3-------*/

.Gran3{
    background-color: rgb(199, 245, 238);
    position: absolute;
    top: rem;
    height: 18rem;
    width: 100vw;
}

.Gran3 h1{
    font-size: x-large;
    font-weight: 200;
}

.Gran3__contenedor{
        margin: auto;
    width: 19rem;
    height: 15rem;
    padding: 1rem;
    position: relative;
    text-align: center;
    vertical-align: center;
}

.tarjeta{
    background-color: rgb(138, 232, 245);
    margin: 0.1rem;
    width: 6rem;
    height: 6rem;
    display: inline-block;
    border-radius: 10px;
}


.alfa{
    display: none;
}

@media screen and ( min-width: 25rem ) {  
   
    .Gran3 h1{
        font-size: x-large;
        font-weight: 200;
    }
    
    .Gran3__contenedor{
        width: 25rem;
        height: 15rem;
        
    }
    
    .tarjeta{
        background-color: rgb(138, 245, 192);
    }
    
    
    .alfa{
        display: inline-block;
}